itk-elastix>=0.7.0
itk==5.1.1.post1
itk-core==5.1.1.post1
itk-numerics==5.1.1.post1
itk-filtering==5.1.1.post1
itk-registration==5.1.1.post1
itk-segmentation==5.1.1.post1
itkwidgets>=0.32.0
jupyterlab==1.2.5
imageio
ipywidgets>=7.5.1
ipympl>=0.4.1
voila>=0.1.21
pyinstaller