itk-elastix>=0.10.0
itk>=5.2rc2
itk-core>=5.2rc2
itk-numerics>=5.2rc2
itk-filtering>=5.2rc2
itk-registration>=5.2rc2
itk-segmentation>=5.2rc2
itkwidgets>=0.32.0
jupyterlab>=2.2.0
imageio
ipywidgets>=7.5.1
ipympl>=0.5.7
numpy==1.19.1
matplotlib==3.3.1
PyQt5==5.15.0
PyQt5-sip==12.8.0
QtPy==1.9.0
voila
