itk-elastix>=0.6.3
itk>=5.1.1
itk-core>=5.1.1
itk-numerics>=5.1.1
itk-filtering>=5.1.1
itk-registration>=5.1.1
itk-segmentation>=5.1.1
itkwidgets>=0.32.0
jupyterlab>=2.2.0
imageio
ipywidgets>=7.5.1
ipympl>=0.5.7
numpy==1.19.1
napari==0.3.6
napari-plugin-engine==0.1.7
napari-svg==0.1.3
PyQt5==5.15.0
PyQt5-sip==12.8.0
