name: Build

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    branches:
      - main

jobs:
  cxx:
    uses: InsightSoftwareConsortium/ITKRemoteModuleBuildTestPackageAction/.github/workflows/build-test-cxx.yml@v5.4.3

  py-dev:
    if: github.ref != 'refs/heads/master' && github.ref != 'refs/heads/main' && !startsWith(github.ref, 'refs/tags')
    uses: InsightSoftwareConsortium/ITKRemoteModuleBuildTestPackageAction/.github/workflows/build-test-package-python.yml@v5.4.3
    with:
      python3-minor-versions: '["10","11"]'
      manylinux-platforms: '["_2_28-x64","2014-x64"]'
      test-notebooks: true
    secrets:
      pypi_password: ${{ secrets.pypi_password }}

  py-main:
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags')
    uses: InsightSoftwareConsortium/ITKRemoteModuleBuildTestPackageAction/.github/workflows/build-test-package-python.yml@v5.4.3
    with:
      python3-minor-versions: '["10","11"]'
      manylinux-platforms: '["_2_28-x64","2014-x64"]'
      test-notebooks: true
    secrets:
      pypi_password: ${{ secrets.pypi_password }}
