name: WebAssembly

on:
  push:
    branches:
      - main
    tags:
       - '*'
  pull_request:
    branches:
      - main

jobs:
  build-wasm:
    name: "build-test-wasm"
    runs-on: ubuntu-22.04

    steps:
    - name: 'Free up disk space'
      run: |
        # Workaround for https://github.com/actions/virtual-environments/issues/709
        df -h
        sudo apt-get update
        sudo apt-get remove -y '^dotnet-.*'
        sudo apt-get remove -y '^llvm-.*'
        sudo apt-get remove -y 'php.*'
        sudo apt-get autoremove -y
        sudo apt-get clean
        sudo rm -rf "/usr/local/share/boost"
        sudo rm -rf /usr/share/dotnet/
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"
        df -h

    - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2

    - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3.6.0
      with:
        node-version: '18'

    - name: Install
      run: |
        npm ci
        npm run build:testData

    - name: Build TypeScript
      working-directory: ./wasm/typescript
      run: |
        npm ci
        npm run build

    - name: Test TypeScript
      working-directory: ./wasm/typescript
      run: |
        npm test

    - uses: actions/setup-python@61a6322f88396a6271a6ee3565807d608ecaddd1 # v4.7.0
      with:
        python-version: '3.10'

    - name: Test Python WASI
      working-directory: ./wasm/python/itkwasm-elastix-wasi
      run: |
        pip install pytest itkwasm-compare-images itk-io
        pip install -e .
        pytest -s
