name: WebAssembly

on:
  push:
    branches:
      - main
    tags:
       - '*'
  pull_request:
    branches:
      - main

jobs:
  build-wasm:
    name: "build-test-wasm"
    runs-on: ubuntu-24.04

    steps:
    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@main
      with:
        large-packages: false

    - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2

    - uses: prefix-dev/setup-pixi@v0.8.1

    - name: Install pnpm
      uses: pnpm/action-setup@v4
    - uses: actions/setup-node@v4
      with:
        node-version: '22'
        cache: pnpm

    - name: Install Playwright Browsers
      working_directory: wasm/typescript
      run: pnpm exec playwright install --with-deps

    - name: Build Typescript
      run: |
        pixi run bindgen-build-typescript

    - name: Build Python
      run: |
        pixi run bindgen-build-python

    - name: Test TypeScript
      run: |
        pixi run test-typescript

    - name: Test Python WASI
      run: |
        pixi run test-python-wasi
